/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(100, 210, 237);
    background-image: url(re.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
 
    padding: 100px;
    text-align: center;
    background-image: url(fff.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color:black;

  }
  
  header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2533;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #c7d5e0;
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  h2 {
    font-size: 2rem;
    margin: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Call-to-action styles */
  .cta {
    background-color: #fff;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
  }
  
  .cta h3 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .cta p {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .cta button {
    background-color: #1f2533;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta button:hover {
    background-color: #c7d5e0;
    color: #1f2533;
  }
  
  /* Pricing table styles */
  .pricing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .pricing__column {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 50px;
    text-align: center;
    flex: 1;
    max-width: 300px;
  }
  
  .pricing__column h4 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .pricing__column p {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 20px;
  }
  